###> php-storm ###
.idea/*
###< php-storm  ###

###> vscode ###
.vscode/*
###< vscode ###

###> composer ###
composer.lock
/vendor/*
###< composer ###

###> npm ###
/node_modules/*
###< npm ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###