###> php-storm ###
.idea/*
###< php-storm  ###

###> vscode ###
.vscode/*
###< vscode ###

###> composer ###
composer.lock
/vendor/*
###< composer ###

###> yarn ###
yarn-error.log
yarn.lock
###< yarn ###

###> npm ###
/node_modules/*
package-lock.json
###< npm ###

###> symfony/webpack-encore-pack ###
/node_modules/
/public/build/
###< symfony/webpack-encore-pack ###

###> distribution files ###
/dist/*
###< distribution files###